// Fonts
$handwriting: "Shadows Into Light", cursive;
$logo-end: "Squada One", cursive;

// Colors
$bg-body-color: #e6cca9;
$bg-element-color--light: #f8f8f8;
$text-light-color: #ffffff;
// Brand
$main-brand-color: #fd6f96;
$main-brand-color--dark: rgba(253, 111, 150, 0.6);
//DataRowItem Component
$data-row-item--border: #512d6d;
$data-row-item--text: rgba(81, 45, 109, 0.7);
// Summary Component
$summary-border: #4b89ac;
$summary-text: #446491;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: $bg-body-color;
	// background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
	// background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
	// background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
	background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}
.desk {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	flex-grow: 1;
	margin: 40px;
	margin-bottom: 0;
	background: rgba(237, 238, 247, 0.15);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(4px);
	border-radius: 20px;
	&.dashboard--furnitura {
		position: relative;
		backdrop-filter: none;
		box-shadow: none;
		background: transparent;
	}
}
.furnitura {
	position: absolute;
	width: 9.576vw;
	height: 9.576vw;
	background: rgba(228, 251, 255, 0.1);
	border-radius: 100%;
	z-index: -1;
	bottom: 80px;
}
.footer {
	padding: 2rem;
	text-align: center;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.8);
	span {
		color: #c36c12;
	}
}
/* Components */

/* Logo */
.logo {
}
/* /Logo */

/* Buttons */
.main-button {
	padding: 0.5em 4.5em;
	background: $main-brand-color--dark;
	border: 2px solid $main-brand-color;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 18px;
	color: $text-light-color;
}
.expand-button {
	width: 38px;
	height: 60px;
	background: $bg-element-color--light;
	border: 4px solid $main-brand-color--dark;
	font-size: 0;
}
/* /Buttons */

/* Aside */
.aside {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
	&__expander {
		flex-grow: 1;
	}
	@media (max-width: 768px) {
		position: fixed;
		top: 0;
		left: 0;
	}
}
/* /Aside */

/* Content */
.content {
	padding: 3rem;
}
/* /Content */

.form-stack {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 0px 40px 0px;
	&__input {
		width: 100%;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.2;
		padding: 0.5em 0.7em;
		color: black;

		display: inline-block;
		background: #ffffff;
		border: 2px solid $main-brand-color;
		border-radius: 10px;
		margin: 0px 0px 15px 0px;
		&::placeholder {
			color: #c8c8c8;
		}
		&:focus {
			border: 2px solid transparent;
			box-shadow: 0 0 0 3px $data-row-item--border;
		}
	}
}
/* Summary */
.summary {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 80px;
	&__form {
		max-width: 952px;
		margin: 0 auto;
		line-height: 1;
		letter-spacing: 0.08em;
		color: #446491;
	}
	&__fieldset {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__label {
		width: 100%;
		font-family: $handwriting;
		font-size: 3.5rem;
		border-top: 4px solid $summary-text;
		padding: 12px 0px 0px 0px;
		margin: 12px 0px 0px 0px;
		text-align: center;
	}
	&__input-wrapper {
		display: flex;
		position: relative;
		align-items: center;
	}
	&__input {
		margin: 0px 0px 0px 5px;
		max-width: 211px;
		font-weight: 700;
		font-size: 3rem;
		background: $bg-element-color--light;
		border: 4px solid $summary-border;
		box-sizing: border-box;
		border-radius: 30px;
		padding: 0.26em 1em;
		color: $summary-text;
		transition: all 0.3s ease 0s;
		&.hiden {
			background: transparent;
			border: 4px solid transparent;
		}
	}
	&__button {
		font-size: 0;
		border-radius: 50%;
		background-color: transparent;
		position: absolute;
		width: 30px;
		height: 30px;
		top: 50%;
		right: 30px;
		margin: -15px 0px 0px 0px;
		background-image: url("../img/Button--add.svg");
		background-size: cover;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		&:hover {
			transform: translateY(-2px);
			box-shadow: 0px 4px 5px $summary-border;
		}
		&:active {
			transform: translateY(0px);
			box-shadow: none;
		}
		&.hiden {
			overflow: hidden;
			opacity: 0;
		}
	}
}
/* /Summary */
