$logo-start: "Shadows Into Light", cursive;
$logo-end: "Squada One", cursive;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #e6cca9;
	// background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
	// background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
	// background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
	background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}
.dashboard {
	flex-grow: 1;
	margin: 40px;
	margin-bottom: 0;
	background: rgba(237, 238, 247, 0.15);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(4px);
	border-radius: 20px;
	&.dashboard--furnitura {
		position: relative;
		backdrop-filter: none;
		box-shadow: none;
		background: transparent;
	}
	@media (max-width: 768px) {
		flex-direction: column;
	}
}
.furnitura {
	position: absolute;
	width: 9.576vw;
	height: 9.576vw;
	background: rgba(228, 251, 255, 0.1);
	border-radius: 100%;
	z-index: -1;
	bottom: 80px;
}

.footer {
	padding: 2rem;
	text-align: center;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.8);
	span {
		color: #c36c12;
	}
}
/* Components */

/* Logo */
.logo {
}
/* /Logo */

/* Buttons */
.main-button {
	padding: 0.5em 4.5em;
	background: rgba(253, 111, 150, 0.7);
	border: 2px solid #fd6f96;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}
.expand-button {
	width: 38px;
	height: 60px;
	background: #f8f8f8;
	border: 4px solid rgba(253, 111, 150, 0.6);
	font-size: 0;
}
/* /Buttons */

/* Aside */
.aside {
	padding: 2.5rem;
	max-width: 25%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
	@media (max-width: 768px) {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
}
/* /Aside */
