@import "../../styles.scss";

.data-row {
	width: 100%;
	max-width: 542px;
	display: inline-flex;
	align-items: center;
	line-height: 1;
	color: $data-row-item--text;
	margin-bottom: 15px;
	&__title {
		font-size: 25px;
		@media (max-width: 475px) {
			font-size: 15px;
		}
	}
	&__ex-date {
		font-weight: 300;
		font-size: 20px;
		@media (max-width: 475px) {
			font-size: 5px;
		}
	}
	&__item {
		margin: 0px 5px;
		&:first-child {
			margin-left: 0px;
		}
		&:last-child {
			margin-right: 0px;
		}
	}
}
