@import "../../styles.scss";

.data-row {
	display: inline-flex;
	color: $data-row-item--text;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px dashed;
	@media (max-width: 768px) {
		max-width: none;
		padding-bottom: 10px;
		border-bottom: 1px dashed;
	}
	@media (max-width: 425px) {
		flex-direction: column;
	}
	&__title {
		font-size: 2.1rem;
		padding-right: 10px;
		@media (max-width: 475px) {
			font-size: 1.5rem;
			padding-right: 5px;
		}
	}
	&__ex-date {
		font-weight: 600;
		font-size: 2rem;
		line-height: 1;
	}
	&__item {
		margin: 0px 5px;
		&:first-child {
			margin-left: 0px;
		}
		&:last-child {
			margin-right: 0px;
		}
		@media (max-width: 768px) {
			margin: 0px 0px 10px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&__data {
		display: flex;
		height: 65px;
		li {
			display: flex;
			margin: 0px 5px 0px 0px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: 475px) {
			justify-content: flex-end;
		}
		@media (max-width: 425px) {
			height: auto;
			justify-content: space-between;
			align-items: flex-start;
		}
		@media (max-width: 365px) {
			height: auto;
			justify-content: flex-end;
			align-items: flex-start;
		}
	}
	&__data--left {
		display: flex;
		flex-direction: column;
		@media (max-width: 425px) {
			flex-direction: row;
		}
		@media (max-width: 365px) {
			flex-direction: column;
		}
		li {
			&:first-child {
				flex-grow: 1;
				align-items: flex-end;
				justify-content: flex-end;
				margin: 0 0 4px 0;
			}
			@media (max-width: 425px) {
				&:first-child {
					margin: 0 5px 0 0;
				}
				&:last-child {
					margin: 0;
				}
			}
			@media (max-width: 365px) {
				&:first-child {
					margin: 0 0 5px 0;
				}
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	&__data--right {
		display: flex;
		flex-direction: column;
		@media (max-width: 425px) {
			flex-direction: row;
		}
		@media (max-width: 365px) {
			flex-direction: column;
		}
		li {
			&:first-child {
				flex-grow: 1;
			}
			@media (max-width: 365px) {
				&:first-child {
					margin: 0 0 5px 0;
				}
				&:last-child {
					margin: 0;
				}
			}
		}
	}
}
