@import "../../styles.scss";

.amount-counter {
	margin: 0 auto;
	line-height: 1;
	letter-spacing: 0.08em;
	color: #446491;
	&__fieldset {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__fieldset-top {
		display: flex;
		img {
			width: 47px;
		}
		@media (max-width: 991px) {
			align-items: center;
			flex-direction: column;
			img {
				width: 27px;
				margin-bottom: 10px;
			}
		}
	}

	&__label {
		width: 100%;
		font-family: $handwriting;
		font-size: 3.5rem;
		border-top: 4px solid $summary-text;
		padding: 12px 0px 0px 0px;
		margin: 12px 0px 0px 0px;
		text-align: center;
		@media (max-width: 1124px) {
			border-top: 2px solid $summary-text;
			font-size: 2rem;
			padding: 6px 0px 0px 0px;
			margin: 6px 0px 0px 0px;
		}
	}
	&__input-wrapper {
		display: flex;
		position: relative;
		align-items: center;
	}
	&__input {
		margin: 0px 0px 0px 5px;
		max-width: 211px;
		font-weight: 700;
		font-size: 3rem;
		background: $bg-element-color--light;
		border: 4px solid $summary-border;
		box-sizing: border-box;
		border-radius: 30px;
		padding: 0.26em 1em;
		color: $summary-text;
		transition: all 0.3s ease 0s;
		position: relative;
		&.hiden {
			background: transparent;
			border: 4px solid transparent;
			@media (max-width: 991px) {
				border: 2px solid transparent;
			}
		}
		@media (max-width: 1124px) {
			max-width: 140px;
			font-size: 2rem;
			border: 2px solid $summary-border;
		}
	}
	&__button {
		font-size: 0;
		border-radius: 50%;
		background-color: transparent;
		position: absolute;
		width: 30px;
		height: 30px;
		top: 50%;
		right: 30px;
		margin: -15px 0px 0px 0px;
		background-image: url("../../Assets/Button--add.svg");
		background-size: cover;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		@media (max-width: 1124px) {
			width: 20px;
			height: 20px;
			margin: -10px 0px 0px 0px;
			right: 20px;
		}
		@media (min-width: 991px) {
			&:hover {
				transform: translateY(-2px);
				box-shadow: 0px 4px 5px $summary-border;
			}
			&:active {
				transform: translateY(0px);
				box-shadow: none;
			}
		}

		&.hiden {
			overflow: hidden;
			opacity: 0;
		}
	}
}
