* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #e6cca9;
  background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.desk {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr;
      grid-template-columns: 0.5fr 2fr;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 40px;
  margin-bottom: 0;
  background: rgba(237, 238, 247, 0.15);
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 20px;
}

.desk.dashboard--furnitura {
  position: relative;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.furnitura {
  position: absolute;
  width: 9.576vw;
  height: 9.576vw;
  background: rgba(228, 251, 255, 0.1);
  border-radius: 100%;
  z-index: -1;
  bottom: 80px;
}

.footer {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.footer span {
  color: #c36c12;
}

/* Components */
/* Logo */
/* /Logo */
/* Buttons */
.main-button {
  padding: 0.5em 4.5em;
  background: rgba(253, 111, 150, 0.6);
  border: 2px solid #fd6f96;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 18px;
  color: #ffffff;
}

.expand-button {
  width: 38px;
  height: 60px;
  background: #f8f8f8;
  border: 4px solid rgba(253, 111, 150, 0.6);
  font-size: 0;
}

/* /Buttons */
/* Aside */
.aside {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.aside img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside__expander {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 768px) {
  .aside {
    position: fixed;
    top: 0;
    left: 0;
  }
}

/* /Aside */
/* Content */
.content {
  padding: 3rem;
}

/* /Content */
.form-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.form-stack__input {
  width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0.5em 0.7em;
  color: black;
  display: inline-block;
  background: #ffffff;
  border: 2px solid #fd6f96;
  border-radius: 10px;
  margin: 0px 0px 15px 0px;
}

.form-stack__input::-webkit-input-placeholder {
  color: #c8c8c8;
}

.form-stack__input:-ms-input-placeholder {
  color: #c8c8c8;
}

.form-stack__input::-ms-input-placeholder {
  color: #c8c8c8;
}

.form-stack__input::placeholder {
  color: #c8c8c8;
}

.form-stack__input:focus {
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0 0 3px #512d6d;
          box-shadow: 0 0 0 3px #512d6d;
}

/* Summary */
.summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
}

.summary__form {
  max-width: 952px;
  margin: 0 auto;
  line-height: 1;
  letter-spacing: 0.08em;
  color: #446491;
}

.summary__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary__label {
  width: 100%;
  font-family: "Shadows Into Light", cursive;
  font-size: 3.5rem;
  border-top: 4px solid #446491;
  padding: 12px 0px 0px 0px;
  margin: 12px 0px 0px 0px;
  text-align: center;
}

.summary__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary__input {
  margin: 0px 0px 0px 5px;
  max-width: 211px;
  font-weight: 700;
  font-size: 3rem;
  background: #f8f8f8;
  border: 4px solid #4b89ac;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding: 0.26em 1em;
  color: #446491;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.summary__input.hiden {
  background: transparent;
  border: 4px solid transparent;
}

.summary__button {
  font-size: 0;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  right: 30px;
  margin: -15px 0px 0px 0px;
  background-image: url("../img/Button--add.svg");
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.summary__button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 4px 5px #4b89ac;
          box-shadow: 0px 4px 5px #4b89ac;
}

.summary__button:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.summary__button.hiden {
  overflow: hidden;
  opacity: 0;
}

/* /Summary */
