@import "../../styles.scss";

.main-button {
	max-height: 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 1.6rem;
	padding: 0.4em 1.5em;
	border: 2px solid #000;
	border-radius: 10px;
	font-family: Helvetica;
	font-weight: 700;
	line-height: 1;
	color: $text-light-color;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	// Enable hover just for large screens
	@media (min-width: 991px) {
		&:hover {
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
			transform: translateY(-2px);
		}
		&:active {
			transform: translateY(0px);
		}
	}
}
.main-button--red {
	background: $zone-red--light;
	border-color: $zone-red !important;
	// Enable hover just for large screens
	@media (min-width: 991px) {
		&:hover {
			box-shadow: 0px 3px 10px $zone-red;
		}
		&:active {
			box-shadow: none;
		}
	}
}
.main-button--orange {
	background: $zone-orange--light;
	border-color: $zone-orange !important;
	// Enable hover just for large screens
	@media (min-width: 991px) {
		&:hover {
			box-shadow: 0px 3px 10px $zone-orange;
		}
		&:active {
			box-shadow: none;
		}
	}
}
.main-button--green {
	background: $zone-green--light;
	border-color: $zone-green !important;
	// Enable hover just for large screens
	@media (min-width: 991px) {
		&:hover {
			box-shadow: 0px 3px 10px $zone-green;
		}
		&:active {
			box-shadow: none;
		}
	}
}
.expand-button {
	background: $bg-element-color--light;
	border-top: 4px solid $bg-element-color--light !important;
	border: 4px solid #000;
	font-size: 0;
	padding: 0.1rem;
	border-radius: 0 0 20px 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	width: 60px;
	height: 40px;
	position: absolute;
	bottom: -39px;
	right: 30px;
	text-align: center;
	svg {
		&.expanded {
			transition: all 0.3s ease 0s;
			transform: rotate(180deg);
		}
	}
}
.expand-button--red {
	border-color: $zone-red--light;
}
.expand-button--orange {
	border-color: $zone-orange--light;
}
.expand-button--green {
	border-color: $zone-green--light;
}
.expand-button--purple {
	border-color: #7868e6;
	right: -49px !important;
	bottom: 30px !important;
	transform: rotate(-90deg);
	@media (min-width: 991px) {
		display: none;
	}
}
.add-button {
	@extend .main-button;
	width: 30px;
	font-size: 2rem;
	padding: 0.3em 0.5em 0.4em 0.5em;
}
.add-button--red {
	@extend .main-button--red;
}
.add-button--orange {
	@extend .main-button--orange;
}
.add-button--green {
	@extend .main-button--green;
}
.delete-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: relative;
	background: #ffffff;
	border: 2px solid #512d6d;
	border-radius: 5px;
	font-size: 0;
	padding: 0.1rem;
	transition: all 0.3s ease 0s;
	img {
		display: block;
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
	// Enable hover just for large screens
	@media (min-width: 991px) {
		&:hover {
			box-shadow: 0px 3px 10px rgba(81, 45, 109, 0.6);
			transform: translateY(-2px);
		}
		&:active {
			box-shadow: none;
			transform: translateY(0px);
		}
	}
}
