@import "../../styles.scss";

.form-stack {
	&__fieldset {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__legend {
		font-family: $handwriting;
		font-size: 2.5rem;
		line-height: 1;
		letter-spacing: 0.08em;
		color: #446491;
		margin: 0px 0px 15px 0px;
	}
	&__input {
		margin: 0px 0px 10px 0px;
	}
	&__input--red {
		border-color: $zone-red--light;
	}
	&__input--orange {
		border-color: $zone-orange--light;
	}
	&__input--green {
		border-color: $zone-green--light;
	}
}
