@import "../../styles.scss";

.summary {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	margin: 0px 0px 75px 0px;
	@media (max-width: 991px) {
		row-gap: 30px;
		margin: 0;
	}
}
