@import "../../styles.scss";

.plan-cards {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	&__item {
		height: 100px;
		@media (min-width: 991px) {
			&:nth-child(2) {
				margin-left: 130px;
			}
		}
	}
}
