@import "../../styles.scss";

.plan-cards {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	&__item {
		max-width: 80%;
		height: 25%;
		&:nth-child(2) {
			margin-left: 130px;
		}
		@media (max-width: 768px) {
			height: 20vh;
			max-width: none;
			&:nth-child(2) {
				margin-left: 0;
			}
		}
		@media (max-width: 330px) {
			height: 120px;
		}
		@media (max-width: 330px) {
			height: 100px;
		}
	}
}
