// *** ShortKey VSCODE ***
//! Collaps all css: CMD+K CMD+0;
// Variables
@import "./Scss/variables";

//Reset the standart margin and padding for all
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// Set a main font-size for easyes calculating rem
html {
	font-size: 10px;
}
// Setup the body
body {
	font-family: $font-family;
	background-color: $bg-body-color;
	// background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
	// background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
	// background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
	background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
	overflow: hidden;
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

// Modificators
.show {
	animation-name: show;
	animation-duration: 0.9s;
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
	@keyframes show {
		0% {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-20px);
		}
		100% {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
		}
	}
}
.hide {
	animation-name: hide;
	animation-duration: 0.2s;
	opacity: 0;
	visibility: hidden;
	@keyframes hide {
		0% {
			visibility: visible;
			opacity: 1;
		}
		100% {
			visibility: hidden;
			opacity: 0;
		}
	}
}
.flx--grow {
	flex-grow: 1;
}
.fullscreen {
	// position: absolute !important;
	height: 390px !important;
	// top: 0;
	// left: 0;
	// z-index: 5;
	box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
}
