@import "../../styles.scss";

.progress-bar {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid #fd6f96;
	backdrop-filter: blur(5px);
	position: absolute;
	top: -30px;
	left: 30px;
	&__bg,
	&__progress {
		fill: none;
	}
	&__bg--red {
		fill: $zone-red--light;
	}
	&__bg--orange {
		fill: $zone-orange--light;
	}
	&__bg--green {
		fill: $zone-green--light;
	}

	&__progress {
		stroke-linecap: round;
		stroke-linejoin: round;
	}
	&__progress--red {
		stroke: $zone-red;
	}
	&__progress--orange {
		stroke: $zone-orange;
	}
	&__progress--green {
		stroke: $zone-green;
	}

	&__text {
		font-size: 3em;
		font-weight: bold;
		fill: #ffffff;
	}
	@media (max-width: 475px) {
		width: 100px;
		height: 100px;
		top: -20px;
		left: 20px;
	}
}
.progress-bar--red {
	border-color: $zone-red;
}
.progress-bar--orange {
	border-color: $zone-orange;
}
.progress-bar--green {
	border-color: $zone-green;
}
