// Fonts
$handwriting: "Shadows Into Light", cursive;
$logo-end: "Squada One", cursive;
$font-family: Helvetica, Arial, sans-serif;

// Colors
$bg-body-color: #e6cca9;
$bg-element-color--light: #f8f8f8;
$text-light-color: #ffffff;

// Payment Zones
$zone-red: #fd6f96;
$zone-red--light: rgba(253, 111, 150, 0.7);
$zone-orange: #f58634;
$zone-orange--light: rgba(245, 132, 52, 0.7);
$zone-green: #95dac1;
$zone-green--light: rgba(149, 218, 193, 0.7);

//DataRowItem Component
$data-row-item--border: #512d6d;
$data-row-item--text: rgba(81, 45, 109, 0.7);

// Summary Component
$summary-border: #4b89ac;
$summary-text: #446491;
